.header {
  background-color: lightgrey;
}

.form--field {
  list-style: none;
}

.form--field__option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.form--question-text bold {
  font-weight: bold;
}

.form--field {
  textarea {
    width: 35%;
    height: 6rem;
  }
  button[type='submit'] {
    margin: 2rem 0 0;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}
